header
  p.title La Timeline

.timelines-list
  ul
    li.timeline-item.layout(style="display:none;")
      p.name Nombre
      p.event(style="display:none;") Evento
      
.timelines-control
  .span-control
  .years-list
    ul
     p Años