header
  p.title La Timeline

.timelines-list
  ul
    li.timeline-item.layout(style="display:none;")
      p.name Nombre

.timelines-control
  .years-list
    ul
      li.year-item
        p 1900
      li.year-item
        p 1920
      li.year-item
        p 1940
      li.year-item
        p 1960
      li.year-item
        p 1980