!!! 5
html(lang="en")
  head
    title Timeline
  
    meta(name="description", content="")
    meta(name="author", content="Timeline")
  
    link(rel="stylesheet", href="/styles.css")

  body
    !=body

    // jQuery
    script(src="/javascripts/thirdparty/jquery.js", type="text/javascript")

    // jQuery UI
    script(src="/javascripts/thirdparty/jquery-ui/jquery.ui.core.min.js", type="text/javascript")
    script(src="/javascripts/thirdparty/jquery-ui/jquery.ui.widget.min.js", type="text/javascript")
    script(src="/javascripts/thirdparty/jquery-ui/jquery.ui.position.min.js", type="text/javascript")
    script(src="/javascripts/thirdparty/jquery-ui/jquery.ui.mouse.min.js", type="text/javascript")

    // jQuery TipTip
    // http://code.drewwilson.com/entry/tiptip-jquery-plugin
    script(src="/javascripts/thirdparty/jquery.tipTip.minified.js", type="text/javascript")

    script(src="/javascripts/client.js", type="text/javascript")
