html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strike,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
li {
  display: block;
}
body {
  font: 62.5%/1.5 Helvetica, Arial, "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;
}
body {
  margin: 0;
  height: 100%;
}
.item-1 {
  background-color: #22bebe;
}
.item-1 .name {
  background-color: #22bebe;
}
.item-2 {
  background-color: #ff4040;
}
.item-2 .name {
  background-color: #ff4040;
}
.item-3 {
  background-color: #8144d6;
}
.item-3 .name {
  background-color: #8144d6;
}
.item-4 {
  background-color: #59ea3a;
}
.item-4 .name {
  background-color: #59ea3a;
}
.item-5 {
  background-color: #4284d3;
}
.item-5 .name {
  background-color: #4284d3;
}
.item-6 {
  background-color: #ffc140;
}
.item-6 .name {
  background-color: #ffc140;
}
header {
  height: 5%;
  float: left;
  width: 100%;
  background-color: #666;
  color: #fff;
  position: absolute;
  top: 0;
}
.timelines-list {
  position: absolute;
  top: 5%;
  width: 100%;
  overflow: hidden;
  height: 94%;
}
.timelines-list ul {
  margin: 0;
  padding: 0;
  height: 30%;
}
.timelines-list .timeline-item {
  display: block;
  border: 1px solid #aaa;
  padding: 15px;
  width: 15000px;
}
.timelines-list .timeline-item p.name {
  font-size: 12px;
  padding: 3px 10px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  color: #fff;
}
.timelines-list .timeline-item p.event {
  display: inline-table;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  margin: 3px;
  padding: 5px;
  background-color: PaleTurquoise;
}
.timelines-control {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 3%;
  background-color: #666;
}
.timelines-control ul {
  float: left;
  color: #fff;
  width: 100%;
}
.timelines-control li {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
.span-control {
  position: absolute;
  height: 98%;
  width: 20%;
  border: 2px solid #000;
  background: transparent;
}
