@charset "utf-8";
/* CSS Document */

li.actions ul {
	/*top: -10px;*/
	background-color:transparent;
	background-image:url(../images/bs_bgn_ul_refresh.png);
}
.form-container input[type="text"],.form-container input[type="password"],
.sign-up-form input[type="text"],.sign-up-form input[type="password"] {
	line-height:28px;
}
