@charset "utf-8";
/* CSS Document */
/* 08.09.11 */

@import url(http://fonts.googleapis.com/css?family=Cabin:400,600&v2);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&v2);
body {
	margin:0px;
	font-family: 'PT Sans', sans-serif;
	background-color:#CFCFCF;
	background-image:url(../images/bs_bgn_body.jpg);
	background-repeat:repeat-x;
}
h1 {
	font-family: 'Cabin', sans-serif;
}
h2 {
	font-family: 'Cabin', sans-serif;
}
h3 {
	font-family: 'Cabin', sans-serif;
	font-size:18px;
}
h4 {
	font-family: 'Cabin', sans-serif;
	font-size:16px;
	font-weight:600;
}
ul {
	margin:0px;
}
header {
	position:relative;
	height:125px;
	display: block;
}
textarea, select, input {
	font-family: 'PT Sans', sans-serif;
	font-size:13px;
}
select {
	padding:5px;
	width:100%;
	border: 1px solid #666;
	background-image:url(../images/bs_bgn_input_text.jpg);
	background-repeat:repeat-x;
}
.logos {
	position:absolute;
	left:0px;
	top:0px;
	height:107px;
}
.buglabs {
	background-image:url(../images/buglabs_logo.png);
	background-repeat:no-repeat;
	width:148px;
	height:111px;
	position:absolute;
	margin:0px;
	top:0px;
	left:0px;
	overflow:hidden;
}
.buglabs a {
	text-indent:-1000px;
	float:left;
	width:100%;
	height:111px;
}
.bugswarm {
	background-image:url(../images/bugswarm_logo.png);
	background-repeat:no-repeat;
	width:243px;
	height:111px;
	position:absolute;
	margin:0px;
	top:0px;
	left: 143px;
	overflow:hidden;
}
.bugswarm a {
	text-indent:-1000px;
	float:left;
	width:100%;
	height:111px;
}
.fixed {
	max-width:1000px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	width:96%;
}
header .hline {
	width:100%;
	height:22px;
	background-color:#525252;
	position:absolute;
}
nav {
	top:0px;
	display:block;
}
nav .init-nav {
	margin-left:10px;
	margin-right:10px;
	margin-top:5px;
}
.navigation-bar {
	position:absolute;
	right: 0px;
	top: -62px;
}
nav ul {
	float:left;
	height:40px;
	margin:0px;
	padding:0px;
	overflow:hidden;
}
nav li {
	display:inline;
	float:left;
	line-height:40px;
}
nav li a {
	font-size:13px;
	font-weight:700;
	font-style:normal;
	letter-spacing:0.3px;
	text-transform:capitalize;
	text-shadow: 0px -1px 0px #374683;
}
footer nav li a {
	text-shadow: 0px -1px 0px #E0E0E0;
}
li.button a, nav li a {
	color: #FFFFFF;
	float: left;
	line-height: 40px;
	padding-left: 16px;
	padding-right: 16px;
	text-decoration: none;
}
nav li a.active, nav li a:hover {
	background-color:#8C8C8C;
}
.sign-out li.separator {
	width:9px;
	background-image:url(../images/bs_bgn_separator.png);
	background-position:center;
	height:16px;
}
nav li.separator {
	width:9px;
	background-image:url(../images/bs_bgn_separator.png);
	height:40px;
	float:left;
}
nav li.h-separator {
	width:100%;
	background-image:url(../images/bs_bgn_h_separator.png);
	background-repeat:no-repeat;
	background-position:center;
	height:1px;
	margin-top:3px;
	margin-bottom:3px;
	clear:both;
}
section {
	display: block;
	width:96%;
	margin-left:auto;
	margin-right:auto;
	background-image:url(../images/bs_bgn_panel_home.jpg);
	background-repeat:repeat-x;
	background-position:bottom left;
	background-color:#525252;
	height:475px;
	margin-top: 8px;
}
section.internal {
	height:auto;
	background-image:none;
}
section nav {
	position:relative;
	display:block;
	height:50px;
	width:100%;
	background-color:#616469;
	background-image:none;
	color:#FFF;
}
section .navigation-guide {
	float:left;
	padding:12px;
	margin-left:30px;
	margin-right:30px;
	font-size:18px;
}
section .navigation-guide .arrow-down {
	margin-top:5px;
	margin-right:6px;
}
section nav ul {
	float:left;
	height:auto;
	margin:0px;
	padding:0px;
	overflow:hidden;
	background-color:transparent;
	background-image:none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-top:2px;
	left:15%;
	bottom:0px;
}
section nav ul.button-actions {
	position:relative;
	float:right;
	margin-top:0px;
	right:10px;
	left:auto;
}
section nav.short-nav {
	height:12px;
}
li.button, section nav li {
	line-height:22px;
	margin-top:14px;
}
li.button a, section nav li a {
	line-height:22px;
	font-size:13px;
	background-color:#676A6F;
	color:#FFFFFF;
	margin-left:2px;
	margin-right:2px;
	padding-bottom: 6px;
	padding-top: 6px;
	text-shadow: -1px -1px 0px #333944;
}
li.button a:hover {
	background-color:#7C7C7C;
	text-decoration:none;
}
nav ul.button-actions li {
	margin-top:12px;
}
ul.button-actions .button-link {
	padding-top:2px;
	padding-bottom:2px;
	box-shadow: 1px 1px 0 transparent;
}
section nav li.separator {
	height:22px;
	background-position:center;
}
li.spacer {
	width:9px;
	height:20px;
	float:left;
}
section nav li a:hover {
	background-color:#B7BBC1;
	color:#4C5465;
	text-shadow: 0px 1px 0 #E1E2E5;
}
li.button .sprite-icons, section nav .sprite-icons {
	margin-right:4px;
	margin-top:4px;
}
li.button a {
	color:#FFF;
}
li.button a.active, section nav li a.active {
	background-color:#FFF;
	color:#4C5465;
	text-shadow: 0 1px 0 #FFF;
}
section header {
	background-color:#616469;
	position:relative;
	color:#FFF;
}
article header {
	background-image:url(../images/bs_bgn_internal_header.jpg);
	background-position:bottom;
	background-repeat:repeat-x;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #A0A0A0;
}
section header p {
	font-size:18px;
	padding:3.5%;
	width:50%;
	margin:0px;
}
section.internal header p {
	float:right;
	padding:0px;
	margin:0px;
	font-size:14px;
}
.internal article {
	background-color:#FFF;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #A0A0A0;
	border-bottom-color: #A0A0A0;
	border-left-color: #A0A0A0;
	color:#353B46;
	display:block;
}
.internal header {
	color:#64636B;
	background-color:#FFF;
	height:auto;
	padding:3px;
	padding-left:42px;
	padding-right:42px;
}
span.label {
	position:absolute;
	top:-16px;
	left:0px;
}
span.ip {
	position:relative;
	margin-left:8px;
	margin-right:8px;
}
.deviceDetail .tab-search {
	position:relative;
	width:92%;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	z-index:100;
}
.deviceDetail .search-bar {
	width:40%;
	padding-left:8px;
	background-color:transparent;
	float:right;
}
.deviceDetail .search-bar .search {
	left:60px;
	top:12px;
}
.deviceDetail .search-bar input[type="text"] {
	width:80%;
	float:right;
}
.deviceDetail .devices {
	position:absolute;
	right:0px;
	top:20px;
}
.deviceDetail h4 {
	float:left;
	margin:0px;
	padding:0px;
	line-height:normal;
	font-size:21px;
	font-weight:100;
	width:75%;
	margin-bottom:15px;
}
.internal header h3 {
	float:left;
	margin:0px;
	padding:0px;
	line-height:52px;
	font-size:23px;
	font-weight:700;
	width:45%;
}
.internal header h3 a{
	color:#64636B;
}
.leftSide {
	float:left;
	width:50%;
}
.rightSide {
	float:right;
	width:50%;
}
.deviceDetail .leftSide {
	width:86%;
}
.deviceDetail .options {
	float:left;
	width:75%;
	margin-bottom:3px;
}
.deviceDetail .info-toolbar {
	float: left;
	margin-left: 8px;
	width: 87%;
	background-color:#7C7C7C;
	color:#FFF;
	font-size:13px;
}
.info-toolbar {
	background-color:#EDEDED;
	padding-right:10px;
	padding-left:10px;
	margin-top:2px;
	margin-bottom:2px;
}
.detaildeviceswarm .info-toolbar {
	float:left;
	margin-left: 5px;
	width: 89%;
	background-color:#F9F9F9;
	border: 1px solid #E2E2E2;
}
.info-toolbar ul {
	display: inline-block;
	list-style:none;
	font-size:11px;
	margin-left:0px;
	padding-left:0px;
}
.deviceDetail .info-toolbar ul {
	float:left;
	width:50%;
	display:inline;
	padding-top:0px;
	padding-bottom:0px;
	margin:0px;
	padding-left:0px;
}
.info-toolbar .left {
	text-align:left;
}
.info-toolbar .device-parts li {
	width:auto;
	padding-bottom:0px;
	padding-top:0px;
	display: inline-block;
	vertical-align: middle;
}
.info-toolbar span.line {
	display:inline-block;
	float:left;
	margin-right:2px;
}
.info-toolbar .right {
	text-align:right;
	float:right;
}
.internal.large header h3 {
	line-height:normal;
	width: 80%;
}
.deviceDetail h4 .sprite-icons {
	margin-left:10px;
	margin-top:8px;
}
.internal.large .author {
	padding-left:5px;
}
.internal.large .date {
	float:left;
}
.internal.large .author, .internal.large .author a {
	color:#596C8C;
	font-size:13px;
	text-decoration:none;
	display:inline;
	width:auto;
}
.internal.large .author a {
	color:#3E6CCA;
}
.internal.large .date {
	font-size:13px;
	padding-left:5px;
}
.internal.large .conventions {
	width: 100%;
}
.internal.large .conventions ul {
	padding-left:0px;
}
.internal.double header h3 {
	width:50%;
}
.internal .title .author {
	width:80%;
	float:left;
	padding-left:5px;
}
.generalContent h3 {
	width:auto;
}
.content {
	width:95%;
	margin-left:auto;
	margin-right:auto;
}
.deviceDetail .info-toolbar a.author {
	color:#FFF;
}
header .actions {
	float:left;
	margin-top:15px;
	margin-left:10px;
}
.internal.large .actions {
	margin-top:6px;
	margin-left:0px;
}
header .actions ul {
	list-style:none;
	padding:0px;
	margin:0px;
}
header .actions li {
	display: inline;
	float: left;
}
.button-link, article header .actions a {
	background-color: #DFDBDC;
	font-size: 13px;
	line-height: 22px;
	margin-left: 2px;
	margin-right: 2px;
	float: left;
	padding-left: 11px;
	padding-right: 16px;
	text-decoration: none;
	color:#3D3D3D;
	border: 1px solid #999798;
	font-family: 'Cabin', sans-serif;
	font-style:normal;
	background-image:url(../images/bs_bgn_button_light.png);
	background-repeat:repeat-x;
	text-shadow: 0px 1px 0px #F3F1F2;
	-moz-box-shadow: 1px 1px 0px #FFF;
	-webkit-box-shadow: 1px 1px 0px #FFF;
	box-shadow: 1px 1px 0px #FFF;
}
span.button-link {
	padding-left:4px;
	padding-right:4px;
}
.button-link:hover, header .actions a:hover {
	background-color:#E8E6E7;
}
header .actions .sprite-icons {
	margin-top:4px;
	margin-right:4px;
}
article.home {
	margin:0px;
	float:left;
	width:100%;
	position:relative;
	z-index:8;
}
article .left-panel {
	float:left;
	width:20%;
	height:300px;
}
article .middle-panel {
	float:left;
	width:60%;
}
article .right-panel {
	position:absolute;
	right:0px;
}
.slider-panel {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
}
.slider-panel .pnlText {
	position:absolute;
	bottom:6px;
	width:70%;
	text-align:center;
	color:#FFF;
	font-size:18px;
	margin-left:6%;
}
.light {
	color:#F1D32C;
}
.asideImage {
	position:absolute;
	right:20px;
	top:-20px;
}
.carrousel {
	height:350px;
	overflow:hidden;
	width:100%;
	position:relative;
}
.carrousel .image {
	width:100%;
	text-align:center;
	height:350px;
	overflow:hidden;
}
.image-thinker {
	position:absolute;
	bottom:-4px;
}
.upbg {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-image:url(../images/bs_bgn_swarms.gif);
	background-position:top center;
	opacity:.1;
	filter:alpha(opacity=10);
}
.globe-text {
	background-image:url(../images/bs_good_idea_become_true.gif);
	width:177px;
	height:229px;
	position:absolute;
	top:-20px;
}
.globe-text-left {
	background-image: url("../images/bs_manage_your_ideas.gif");
	height: 208px;
	position: absolute;
	right: 0;
	top: -20px;
	width: 145px;
}
.globe-text-left p {
	color: #FFFFFF;
	font-size: 22px;
	left: 12px;
	margin: 0 0 0 10px;
	position: absolute;
	top: 24px;
	width: 90%;
}
.globe-text p {
	color: #FFFFFF;
	font-size: 22px;
	left: 14px;
	margin: 0 0 0 10px;
	position: absolute;
	top: 34px;
	width: 82%;
}
.sign-up-form {
	width:335px;
	height:268px;
	background-image:url(../images/bs_bgn_login_form.png);
	background-repeat:repeat-y;
	background-position:left top;
	text-align:left;
}
.sign-up-form-left ul, .sign-up-form ul {
	list-style: none outside none;
	margin-top: 10px;
	padding-top: 32px;
	text-align: left;
	margin-left:16px;
}
.sign-up-form-left ul {
	text-align: left;
	padding-left: 20px;
}
.sign-up-form-left li, .sign-up-form li {
	float:left;
	width:100%;
}
.sign-up-form-left label, .sign-up-form label {
	float:left;
	width:100%;
	color:#FFF;
	font-weight:normal;
	font-size:14px;
	margin-top:8px;
	margin-bottom:2px;
}
form {
	margin-top:10px;
}
input[type="button"] {
	background-color:#434343;
	background-image:url(../images/bs_bgn_menu.png);
	background-repeat:repeat-x;
	overflow:hidden;
	border: 2px solid #282828;
	color:#FFF;
	padding-top: 6px;
	padding-right: 9px;
	padding-bottom: 6px;
	padding-left: 9px;
	font-size:14px;
	cursor:pointer;
	margin-top:8px;
}
input[type="button"].delete {
	background-color:#990000;
	border: 2px solid #B21900;
}
input[type="button"]:hover {
	background-color:#333;
}
input[type="button"].delete:hover {
	background-color:#CC3300;
	border: 2px solid #CC3300;
}

input[type="checkbox"] {
	width:16px;
	height:16px;
	border: 1px solid #FFF;
	padding:2px;
}
input[type="password"], input[type="text"] {
	background-image:url(../images/bs_bgn_input_text.jpg);
	background-repeat:repeat-x;
	border: 1px solid #4A4A4A;
	height:28px;
	padding:2px;
	width:80%;
}
textarea {
	border: 1px solid #4A4A4A;
	padding:2px;
	width:80%;
	background-image:url(../images/bs_bgn_gradient_textarea.jpg);
	background-repeat:repeat-x;
	background-position:bottom;
}
textarea:focus, textarea:hover {
	background-image:none;
}
.txtARight {
	text-align:right;
}
input[type="password"]:focus, input[type="text"]:focus, input[type="password"]:hover, input[type="text"]:hover {
	background-position:0px -34px;
	border-top-color: #F1D32C;
	border-right-color: #F1D32C;
	border-bottom-color: #F1D32C;
	border-left-color: #F1D32C;
}
input[type="text"].searchField {
	background-image:url(../images/bs_bgn_input_text.jpg);
	background-repeat:repeat-x;
	border: 2px solid #C9C9C9;
	padding:3px;
	width:30%;
	color:#3E3E3E;
	padding-left:20px;
	height:auto;
}
aside input[type="text"].searchField {
	width:90%;
}
textarea:hover, textarea:focus, input[type="text"].searchField:hover, input[type="text"].searchField:focus {
	background-position:0px -34px;
	border-top-color: #F1D32C;
	border-right-color: #F1D32C;
	border-bottom-color: #F1D32C;
	border-left-color: #F1D32C;
	background-color:#FDF9E0;
}
.sign-up-message {
	width:55%;
	margin-left:auto;
	margin-right:44px;
	margin-top:15px;
}
.sign-up-message a, .sign-up-message span {
	float:left;
	width:100%;
	text-align:center;
}
.sign-up-message span {
	font-size:13px;
	color:#FFF;
}
.sign-up-message a {
	font-size:22px;
	color:#F1D32C;
}
.newswarm .devices {
	position:absolute;
	left:70px;
	top:50px;
}
.shared-swarm .devices, .private-swarm .devices {
	position:relative;
}
.devices {
	font-size:13px;
	clear:both;
}
.devices-ips {
	font-size:11px;
	clear:both;
	margin-left:50px;
}

.detaildeviceswarm .devices-ips {
	clear:none;
}

.devices-ip-gateway {
	font-size:11px;
	float:left;
	margin-left:5px;
	position:absolute;
	right:0px;
	top:0px;
}
.myresources-list .devices-ips {
	clear:none;
	margin-left:0px;
}
.devices-ip-gateway .gateway, .devices .online {
	color:#7C9D42;
}
.devices-ips .online {
	color:#7C9D42;
	padding:2px;
}
.devices-ips .offline {
	color:#666;
	padding:2px;
}
.conventions {
	width:100%;
}
.conventions.notitle > ul {
	margin-left:20px;
}
.title {
	position:relative;
	clear: both;
	padding-top:5px;
}
.breadcrumb a, .breadcrumb {
	font-size:13px;
	color:#3E3F3F;
}
.breadcrumb ul {
	list-style:none;
	margin-top:3px;
	margin-bottom:10px;
	margin-left:0px;
	padding-left:0px;
}
.breadcrumb li {
	display:inline-block;
}
footer nav {
	position:relative;
	left:0px;
	top:0px;
	right:auto;
}
footer nav ul {
	background-image:none;
	background-color:transparent;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
footer nav a {
	color:#3F3F3F;
	font-size:13px;
}
footer li.separator {
	width:9px;
	background-image:url(../images/bs_bgn_separator_down.png);
	height:40px;
	float:left;
}
footer nav a:hover {
	background-color:#D7D7D7;
	color:#000;
}
footer details {
	clear:both;
	width:100%;
	font-size:9px;
	margin-bottom:4px;
	float:left;
	font-family:Verdana, Geneva, sans-serif;
	color:#666;
}
footer summary {
	float:left;
}
footer p {
	float:right;
	margin:0px;
}
footer {
	clear:both;
	width:96%;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	display: block;
}
.clear {
	clear:both;
	float:none;
}
.subsection-bar {
	background-color:#F6F6F7;
	position:relative;
	padding-top:5px;
	padding-bottom:5px;
	background-image:url(../images/bs_bgn_sub_bar.jpg);
	background-repeat:repeat-x;
	border-bottom: 1px solid #A0A0A0;
}
.subsection-bar h3 {
	padding-left:42px;
	padding-right:30px;
	margin:0px;
	display:inline-block;
	font-size:14px;
}
.detaildeviceswarm .footer-section {
	background-color:transparent;
	position:absolute;
	bottom:-20px;
	left:-42px;
	padding-left:42px;
	padding-top: 0px;
	padding-right: 8px;
	padding-bottom: 8px;
	width:100%;
	font-size:13px;
}
.deviceDetail .leftSide {
	padding-left:60px;
}
.footer-section a {
	color:#3E3E3E;
}
.footer-section .left {
	float:left;
	background-color:#F2F2F2;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #A0A0A0;
	border-right-color: #A0A0A0;
	border-bottom-color: #A0A0A0;
	padding-right:8px;
	padding-left:8px;
	padding-bottom:4px;
	padding-top:4px;
}
.footer-section .right {
	float:right;
	background-color:#F2F2F2;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #A0A0A0;
	border-bottom-color: #A0A0A0;
	border-left-color: #A0A0A0;
	padding-left:8px;
	padding-right:8px;
	padding-bottom:4px;
	padding-top:4px;
}
.detaildeviceswarm header {
	padding-bottom:30px;
}
.detaildeviceswarm header .subsection, .detaildeviceswarm header h3 {
	font-size:18px;
}
.detaildeviceswarm h4 .subsection, .detaildeviceswarm header h4 {
	font-size:23px;
}
.detaildeviceswarm h4{
	margin:0px;
}
.search-bar {
	background-color:#F6F6F7;
	padding:8px;
	position:relative;
	padding-left:42px;
}
.search-bar .search {
	left: 48px;
	position: absolute;
	top: 14px;
}
aside .search-bar {
	padding-left:5%;
	background-color:transparent;
	margin-top:10px;
}
aside .search-bar .search {
	left: 7%;
	position: absolute;
	top: 14px;
}
.consumer-container .search-bar {
	padding-left:12px;
}
.consumer-container .search-bar .search {
	left:16px;
}
.consumer-container input.searchField[type="text"] {
	width:82%;
}
.search-results {
	position:relative;
}
.pager {
	width:100%;
	text-align:center;
	height:22px;
}
.results-list ul {
	padding:0px;
}
.results-list > ul {
	list-style:none;
	width:98%;
	margin-left:auto;
	margin-right:auto;
}
.number-results {
	font-size:12px;
	color:#666;
	position:absolute;
	right: 42px;
}
.results-list {
	clear:both;
	font-size:11px;
}
.results-list li {
	width:48%;
	display:inline-block;
	padding-top:5px;
	padding-bottom:5px;
	vertical-align:top;
}
.results-list li:hover .actions {
	display:block;
}
.results-list li .actions {
	display:none;
}
.results-list h4 {
	margin-top:2px;
	margin-bottom:2px;
}
.results-list h4 a {
	color: #333333;
	text-decoration: none;
}
.results-list h4 a:hover {
	color:#778F45;
	text-decoration:underline;
}
.results-list h4 cite {
	font-weight:100;
	font-size:13px;
	font-style:normal;
	float:left;
	margin-right:10px;
}
.results-list .apikey {
	background-color:#F0F0F0;
	padding-top:2px;
	padding:4px;
	position:relative;
	width:98%;
}
.results-list .apikey span {
	line-height:16px;
}
.results-list .keytext {
	padding-left:28px;
	line-height:18px;
	font-size:13px;
}
.results-list .keytext-edit {
	padding-left:8px;
	line-height:18px;
	width:auto;
}
.keytext-edit ul {
	width:90%;
	margin-left:3%;
}
.keytext-edit li {
	width:30%;
	padding-top:0px;
	padding-bottom:0px;
}
.keytext-edit li a {
	color:#333;
	text-decoration:none;
}
.keytext-edit li a:hover {
	color:#000;
	text-decoration:underline;
}
.results-list .actions {
	float:right;
	background-color:#CCC;
	width:auto;
	padding-left:2px;
	padding-right:2px;
	margin:0px;
	position:absolute;
	right:5px;
	top:5px;
}
.results-list .actions ul {
	padding:0px;
	margin:0px;
}
.results-list .actions li {
	display:inline;
}
.results-list .actions a {
	margin:2px;
}
.double {
	background-color:#FFF;
}
.double article {
	width:62%;
	float:left;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.double aside {
	width:30%;
	float:right;
	display:inline-block;
	background-color:#F0F0F0;
}
.dialog-content, .dialog-content section {
	background-color:#FFF;
	background-image:none;
	font-size:13px;
}
.dialog-content section {
	width:100%;
	height:auto;
}
.dialog-content header {
	background-color:#DBDDE0;
	background-image:none;
	color:#000000;
	height:auto;
}
.dialog-content h5 {
	font-size:18px;
	float:left;
	width:96%;
	margin-left:2%;
	margin-right:2%;
	margin-top:5px;
	margin-bottom:5px;
}
aside {
	padding:36px;
}
aside h5 {
	display: block;
	font-size: 20px;
	margin: 5px auto;
	width: 80%;
}
.number-items {
	font-size:13px;
	color:#E31300;
}
aside .aside-content {
	width:100%;
	margin-left:auto;
	margin-right:auto;
	display:block;
}
.shortForm {
	width:55%;
	margin-left:auto;
	margin-right:auto;
}
.shortForm .results-list {
	margin-left:10px;
}
.form cite {
	display:block;
	font-size:11px;
	color:#333;
	font-style:normal;
}
ul.form {
	list-style:none;
	clear:both;
	padding-left:15px;
	padding-right:15px;
	padding-top:5px;
	padding-bottom:5px;
	margin:0px;
}
ul.form li {
	display:inline-block;
}
ul.form label {
	width:100%;
}
ul.form li a {
	color:#333;
	text-decoration:none;
	padding-top:2px;
	padding-bottom:2px;
}
ul.form li a.sprite-icons {
	padding:0px;
}
ul.form li a:hover {
	color:#000;
	text-decoration:underline;
}
.oneCol li {
	width:100%;
}
.oneCol.btn-actions .actions {
	bottom: 18px;
	position: absolute;
	right: 0;
}
.oneCol.btn-actions {
	position:relative;
}
.oneCol.btn-actions li {
	width:80%;
}
.oneCol li.actions {
	width:20%;
	float:none;
	position:relative;
}
li.actions ul {
	background-color: #FFFFFF;
	position: absolute;
	top: -16px;
	width: 28px;
}
li.actions ul li {
	width:20%;
	display:inline-block;
	float:none;
}
ul.form li.actions a {
	padding:0px;
	background-color:transparent;
	margin-left:10px;
}
.form input[type="text"], .form input[type="password"] {
	width:99%;
}
.form .input input[type="text"] {
	width:3%;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	height:22px;
}
.form .input {
	background-image:url(../images/bs_bgn_input_text.jpg);
	background-repeat:repeat-x;
	border: 1px solid #4A4A4A;
	height:28px;
	padding:2px;
	width:99%;
}
.form .input:hover {
	background-position:0px -34px;
}
.form .input:hover input {
	background-position:0px -34px;
}
.pager {
	margin-bottom:8px;
	margin-top: 8px;
}
.pager ul {
	list-style:none;
	padding-left:0px;
}
.pager li {
	display:inline-block;
	width:auto;
	height: 16px;
}
.pager li a {
	position:relative;
	color:#666;
	text-decoration:none;
	font-size:14px;
	padding: 2px 7px;
}
.pager li a.arrow {
	padding:0px;
}
.pager li a:hover {
	background-color:#EAEAEA;
}
.pager li a.active {
	background-color:#6B6B6B;
	font-weight:600;
	color:#FFF;
}
.pager .arrow-back, .pager .arrow-next {
	margin-top:3px;
}
.contact-box {
	background-color:#D0E38B;
	padding:2px;
	padding-left:10px;
	padding-right:10px;
	border: 1px solid #AABF84;
}
.contact-box:hover {
	background-color:#E0ED96;
}
.contact-box .sprite-icons {
	display: inline-block;
	float: none;
	position: relative;
	top: 4px;
}
.form textarea {
	width:99%;
}
.form ul {
	padding:0px;
	margin:0px;
}
.form ul.inline-block li {
	display:inline-block;
	width:auto;
}
ul.inline-block a {
	font-size:13px;
}
.sign-out, .sign-in {
	width:auto;
	background-color:#525252;
	position:absolute;
	height:auto;
	right:0px;
	top:0px;
}
.sign-out {
	font-size:12px;
	padding:0px;
	color:#FFF;
}
.welcome {
	padding-right:10px;
}
.sign-out ul, .sign-in ul {
	list-style:none;
	padding-left:0px;
	margin:0px;
	padding:0px;
	padding-left:10px;
	padding-right:10px;
	margin-top:2px;
}
.sign-out li {
	display:inline-block;
	float:left;
}
.sign-in a {
	color: #FFFFFF;
	float: left;
	font-size: 13px;
	height: 33px;
	line-height: 28px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom:5px;
}
.sign-in a .sprite-icons {
	float:right;
	margin-top:8px;
	margin-left:10px;
}
.sign-in a:hover {
	background-color:#303030;
}
.form-container {
	padding-bottom:10px;
}
.list-devices {
	clear:both;
	display:block;
	border: 1px solid #8E8E8E;
	padding:3px;
	margin-top:5px;
	margin-bottom:5px;
}
aside cite {
	display: block;
	font-size: 13px;
	font-style: normal;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}
aside .list-devices {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.results-list .device {
	padding-left:8px;
	position:relative;
}
.results-list .device-content {
	background-color:#F7F7F7;
	width:100%;
}
.list-devices .device {
	float:left;
	width:100%;
	padding-left:8px;
}
.list-devices .sort, .list-devices .move {
	margin-right:10px;
}
.device-content, .device-move-icon {
	float:left;
}
.device-move-icon {
	padding:3px;
}
.device-content {
	width:80%;
	padding-left:8px;
}
.list-devices li:hover .device-move-icon, .list-devices li:hover .device-content {
	background-color:#CFCFCF;
}
.list-devices li .device-move-icon, .list-devices li .device-content {
	background-color:#F5F5F5;
}
.list-devices li:hover .sort {
	background-position:-160px -16px;
}
.list-devices li:hover .move {
	background-position:-192px -16px;
}
.hide {
	display:none;
}
.device h4 {
	float:left;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:8px;
}
.newswarm .conventions {
	width:50%;
	float:right;
}
.conventions ul {
	list-style:none;
}
.conventions li {
	font-size:13px;
	line-height:16px;
}
.conventions li .sprite-icons {
	left: 4px;
	position: absolute;
}
.sharedswarm-list, .privateswarm-list {
	font-size:14px;
}
.privateswarm-list li:hover .private, .sharedswarm-list li:hover .public {
	display:block;
}
.privateswarm-list .private, .sharedswarm-list .public {
	bottom: 1%;
	left: 3%;
	position: absolute;
}
.swarm-device {
	position:relative;
}
.swarm-device .actions {
	width:20px;
}
.shared-swarm h4, .private-swarm h4, .swarm-device h4 {
	margin:0px;
}
.shared-swarm h4 a:hover, .private-swarm h4 a:hover, .swarm-device h4 a:hover {
	text-decoration:underline;
}
.notify-content cite, .shared-swarm cite, .private-swarm cite, .swarm-device cite {
	color:#0099CC;
	font-size:13px;
	font-style:normal;
}
.notifications-list .profile-pic {
	width:40px;
	height:40px;
}
cite .date {
	color:#333333;
}
cite .author {
	color: #0099CC;
	padding-left:5px;
}
.shared-swarm, .private-swarm, .notify-content {
	float:left;
}
.profile-pic {
	float:left;
	width:52px;
	height:52px;
	margin-right:10px;
	position:relative;
}
.detailswarm .profile-pic {
	width:40px;
	height:40px;
}
.deviceDetail .profile-pic {
	margin-bottom:5px;
	margin-right:5px;
}
.deviceDetail .profile-pic .sprite-icons {
	position:absolute;
	right:0px;
	top:0px;
}
.deviceDetail .desc {
	color:#596B33;
	font-size:13px;
	width:auto;
	clear:both;
}
.subsection {
	font-size:23px;
	background-image:url(../images/bs_img_arrow.gif);
	background-position:center right;
	background-repeat:no-repeat;
	color:#000;
	padding-left:5px;
	padding-right:5px;
	margin-right:5px;
}
.subsection-bar ul {
	margin:0px;
	padding:0px;
	display:inline-block;
}
.subsection-bar ul li {
	display:inline-block;
}
.subsection-bar ul.online-swarms {
	padding-right:30px;
}
ul.convention-devices li, ul.online-swarms li {
	position:relative;
}
.offline, .online {
	color:#3E3F3F;
	text-decoration:none;
}
.deviceDetail .search-results {
	width:90%;
	margin-left:auto;
	margin-right:auto;
}
.tabs > ul {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #596B34;
	padding-left:0px;
	padding-bottom:3px;
}
.tabs > ul li {
	display:inline;
	margin-left:4px;
	margin-right:4px;
}
.tabs > ul a {
	font-size:30px;
	color:#ACB599;
	padding-left:10px;
	padding-right:10px;
	background-color:#F9FBEA;
	padding-bottom:3px;
}
.tabs > ul a:hover, .tabs > ul a.active {
	color:#596B33;
	background-color:#F2F7D2;
}
/* Sprite */

.devices span {
	line-height:21px;
	font-size:13px;
	font-weight:100;
	position:relative;
	padding-bottom:3px;
	padding-top:3px;
}
.sprite-inputs {
	background-image:url(../images/bs_bgn_input_text.jpg);
	background-repeat:repeat-x;
	float:left;
}
.sprite-sections-lii {
	background-image:url(../images/sprite_section_52x52.png);
	background-repeat:no-repeat;
	width:52px;
	height:52px;
	float:left;
	overflow:hidden;
	text-indent:-1000px;
}
.sprite-sections-lxxii {
	background-image:url(../images/sprite_sections_72x72.png);
	background-repeat:no-repeat;
	width:72px;
	height:72px;
	float:left;
}
.sprite-sections-xl {
	background-image:url(../images/sprite_sections_40x40.png);
	background-repeat:no-repeat;
	width:40px;
	height:40px;
	float:left;
	overflow:hidden;
	text-indent:-1000px;
}
.sprite-icons {
	background-image:url(../images/sprite_icons.png);
	background-repeat:no-repea;
	width:16px;
	height:16px;
	float:left;
	text-indent:-1000px;
	overflow:hidden;
}
.sprite-toolbar {
	background-image:url(../images/sprite_toolbar.png);
	background-repeat:no-repeat;
	text-indent:-1000px;
	display:block;
	overflow:hidden;
}
.sprite-inputs {
	background-image:url(../images/bs_bgn_input_text.jpg);
	background-repeat:repeat-x;
}
.swarm {
	background-position:-204px 0px;
	width:28px;
	left: -8px;
	position: absolute;
	top: -12px;
}
.swarm-short {
	background-position:-204px -40px;
	width:28px;
	left: -4px;
	position: absolute;
	top: -8px;
}
.consumers .arrow-down {
	margin-top:3px;
}
.consumers .online-disc {
	margin-top:4px;
}
.online-disc {
	background-position:-272px 0px;
}
.share {
	background-position:-224px 0px;
}
.flip-v {
	background-position:-240px 0px;
}
.flip-h {
	background-position:-240px -16px;
}
.resize {
	background-position:-256px 0px;
}
.resources {
	background-position:-216px -72px;
}
.myswarms {
	background-position: 0px -72px;
}
.mysharedswarms {
	background-position: -72px -72px;
}
.sprite-icons.camera {
	background-position:0px -32px;
}
.sprite-sections-lii.camera {
	background-position:0px -104px;
}
.sprite-icons.acceleration {
	background-position:-32px -32px;
}
.sprite-sections-lii.acceleration {
	background-position:-104px -104px;
}
.sprite-icons.audio {
	background-position:-16px -32px;
}
.sprite-sections-lii.audio {
	background-position:-52px -104px;
}
.sprite-icons.location {
	background-position:-64px -32px;
}
.sprite-sections-lii.location {
	background-position:-208px -104px;
}
.sprite-icons.modem {
	background-position:-48px -32px;
}
.sprite-sections-lii.modem {
	background-position:-156px -104px;
}
.sprite-sections-lii.modem.off {
	background-position:-156px -156px;
}
.delete-gray {
	background-position:-208px -16px;
}
.delete-gray:hover {
	background-position:-208px -16px;
}
.consumer-container {
	position:absolute;
	right:5%;
	top: 30%;
	font-size:11px;
	padding:4px;
	width: 255px;
}
.consumers-header {
	display:block;
	height:35px;
	background-color:#DBDDE0;
}
.consumers-search .search-bar {
	background-color:#DBDDE0;
}
.consumers-search .footer-search-bar {
	display:block;
	height:6px;
	background-color:#EDEEEF;
}
.consumers {
	position:relative;
	z-index:50;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 13px;
	border: 1px solid #B3C685;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 2px;
	margin-right: 10px;
	width:80%;
	text-align:center;
}
.consumers-dropdown {
	position:relative;
	z-index:40;
	width:255px;
	background-color:#FFF;
	border: 1px solid #ABABAB;
}
.consumers-dropdown-shadow {
	background-color:#000;
	position:absolute;
	z-index:40;
	height:100%;
	width:100%;
	left:0%;
	top:0%;
	opacity:0.1;
	filter:alpha(opacity=10);
}
.consumers-dropdown a, .consumers a {
	color:#3D3D3D;
	font-weight:100;
	text-decoration:none;
	font-size:13px;
}
.consumers a:hover {
	color:#333;
}
.results-list.consumers-list li {
	margin: 0;
	padding: 2px 0;
}
.consumers-list > ul > li {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #9E9E9E;
}
.results-list.consumers-list li li {
	width:auto;
}
.results-list.consumers-list li li:first-child {
	width:90%;
}
.info-toolbar .sprite-toolbar {
	height: 16px;
	margin-bottom: 2px;
	margin-right: 4px;
	margin-left: 4px;
	margin-top: 2px;
}
.battery {
	width: 24px;
}
.signal {
	width: 18px;
}
.s4g {
	width:14px;
	background-position:0px -16px;
}
.bluetooth {
	width:11px;
	background-position:-16px -16px;
}
.temperature {
	width:10px;
	background-position:-27px -16px;
}
.dd {
	width:66px;
}
.d1 {
	background-position:-0px -33px;
}
.d2 {
	background-position:-0px -49px;
}
.d3 {
	background-position:-0px -65px;
}
.d4 {
	background-position:-0px -81px;
}
.d5 {
	background-position:-0px -97px;
}
.d6 {
	background-position:-66px -33px;
}
.d7 {
	background-position:-66px -49px;
}
.d8 {
	background-position:-66px -65px;
}
.d9 {
	background-position:-66px -81px;
}
.d10 {
	background-position:-66px -97px;
}
.signal.low {
	background-position:-91px -16px;
}
.signal.mid-low {
	background-position:-73px -16px;
}
.signal.mid {
	background-position:-55px -16px;
}
.signal.full {
	background-position:-37px -16px;
}
.battery.low {
	background-position:0px 0px;
}
.battery.mid-low {
	background-position:-24px 0px;
}
.battery.mid {
	background-position:-48px 0px;
}
.battery.mid-full {
	background-position:-72px 0px;
}
.battery.full {
	background-position:-96px 0px;
}
.tag-mydevice {
	background-position:-128px -32px;
}
.offline.tag-mydevice, .offline .tag-mydevice {
	background-position:-128px -48px;
}
.tag-otherdevice {
	background-position:-144px -32px;
}
.offline.tag-otherdevice, .offline .tag-otherdevice {
	background-position:-144px -48px;
}
.conventions .offline.tag-mydevice {
	background-position:-175px -48px;
}
.conventions .online.tag-mydevice {
	background-position:-160px -48px;
	padding:0px;
}
.offline h4 a, .offline cite .author, .offline cite .date {
	color:#999;
}
.bugs:hover, .bugs.active {
	background-image:url(../images/bs_bgn_button_light.png);
	background-repeat: repeat-x;
	border: 1px solid #999798;
}
.sprite-sections-lii.tag-mydevice {
	background-position:-312px 0px;
}
.sprite-sections-lii.tag-otherdevice {
	background-position:-364px 0px;
}
.sprite-sections-lxxii.tag-mydevice {
	background-position:-504px 0px;
}
.sprite-sections-lxxii.tag-otherdevice {
	background-position:-576px 0px;
}
.sprite-sections-xl.tag-mydevice {
	background-position:-300px 0px;
}
/*.offline.sprite-sections-xl.tag-mydevice, .offline .sprite-sections-xl.tag-mydevice {
background-position:-300px -40px;
}*/
.sprite-sections-xl.tag-otherdevice {
	background-position:-340px 0px;
}
/*.offline .sprite-sections-xl.tag-otherdevice {
background-position:-340px -40px;
}*/
/*.sprite-icons.offline {
background-position:right 0px;
	left:0px;
}*/
a.on:hover, a.off {
	background-position:-50px -48px;
	width:50px;
	color:#666;
}
a.off:hover, a.on {
	background-position:0px -48px;
	width:50px;
}
.block:hover, .unblock {
	background-position:-96px -32px;
}
.unblock:hover, .block {
	background-position:-112px -32px;
}
a.bugs {
	line-height:20px;
	padding: 6px 10px 4px 24px;
	color:#3E3F3F;
	text-decoration:none;
	border: 1px solid #C5C5C5;
	text-shadow: 0 1px 0 #F3F1F2;
	box-shadow: 1px 1px 0 #E2E2E2;
}
a.online, .sprite-icons.online {
	color:#468900;
}
.online.bugs .switch, .online .switch, .user-online {
	background-position:-192px 0px;
}
.offline.bugs .switch, .offline .switch, .user-offline {
	background-position:-208px 0px;
}
.switch {
	position:absolute;
	top:-2px;
	left:-2px;
}
.bugs .switch {
	top:0px;
}
.user-online a {
	color:#468900;
	text-decoration:underline;
}
.user-offline a {
	color:#990000;
	text-decoration:none;
}
.sideButton {
	position:relative;
}
.sideButton .public {
	position:absolute;
	right:-30px;
	top:30px;
}
.sprite-sections-lii.sharedswarm {
	background-position:-52px -52px;
}
.sprite-sections-xl.sharedswarm {
	background-position:-40px -40px;
}
.privatebug {
	background-position: -360px 0;
}
.privateswarm {
	background-position:0px -52px;
}
.sprite-sections-lxxii.privateswarm-device {
	background-position:-360px -72px;
}
.sprite-sections-lxxii.privateswarm {
	background-position:0px -72px;
}
.sprite-sections-xl.private {
	background-position:-120px 0px;
}
.sprite-sections-lxxii.publicswarm {
	background-position:-144px 0px;
}
.config {
	background-position:-176px 0px;
}
.notifications {
	background-position:-160px -32px;
	position:relative;
	overflow:visible;
}
.sprite-sections-lxxii.notifications {
	background-position:-648px -0px;
}
.iconTab.notifications {
	background-position:-345px -60px;
	height:22px;
	margin-top:0px;
}
.counter-notify {
	background-color:#F00;
	color:#FFF;
	position:absolute;
	padding:2px;
	top:-12px;
	right:0px;
	text-indent:0px;
	font-size:9px;
	font-weight:bold;
	border: 1px solid #900;
	line-height:10px;
	text-shadow:none;
}
.sort {
	background-position:-144px -16px;
}
.move {
	background-position:-176px -16px;
}
.newswarm .private:hover, .public {
	background-position:-112px -16px;
}
.newswarm .public:hover, .private {
	background-position:-128px -16px;
}
.my-devices {
	background-position:-80px -16px;
}
.other-devices {
	background-position:-96px -16px;
}
.content-service .profile-pic {
	background-color:#DFEC96;
	border-top-width: 3px;
	border-right-width: 3px;
	border-left-width: 3px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #DFEC96;
	border-right-color: #DFEC96;
	border-bottom-color: #DFEC96;
	border-left-color: #DFEC96;
}
.device-icon {
	background-position:-156px 0px;
}
.device-icon-tl {
	background-position:0px -52px;
}
.newSwarm {
	background-position:-216px 0px;
}
.editSwarm {
	background-position:-288px 0px;
}
.search {
	background-position:-64px -1px;
}
.arrow-down {
	background-position:-80px 0px;
}
.key {
	background-position:-16px 0px;
}
.delete {
	background-position:-32px 0px;
}
.edit {
	background-position:-48px 0px;
}
.logout {
	background-position:-288px 0px;
}
.arrow-back {
	background-position:0px -16px;
}
.arrow-next {
	background-position:-48px -16px;
}
.copy {
	background-position:-64px -16px;
}
.refresh {
	background-position:-160px 0px;
}
.init-nav {
	background-position:-600px 0px;
}
.check {
	background-position:-112px 0px;
	margin-top:2px;
}
a:hover .check {
	background-position:-128px 0px;
}
a:active .check {
	background-position:-144px 0px;
}
li.tag-mydevice {
	border-color:#92C140;
}
.tag-mydevice h4 a {
	color:#92C140;
}
.tag-mydevice h4 a.off {
	color:#666;
}
li.tag-otherdevice {
	border-color:#428FD1;
}
.tag-otherdevice h4 a {
	color:#428FD1;
}
.swarm-device h4 a:hover {
	text-decoration:underline;
}
.swarm-device cite {
	float: left;
	margin-bottom:5px;
}
.container-service {
	padding:8px;
	background-image: url(../images/bgn_black_trans.png);
	background-color:transparent;
}
.content-service {
	position:relative;
}
.container-service .breadcrumb, .container-service .breadcrumb a {
	color:#FFF;
}
.container-service .profile-pic {
	margin-left:50px;
	height:46px;
}
.content-service h5 {
	float:left;
	width:auto;
	color:#E1ED97;
	font-size:30px;
	margin-top:2px;
	margin-bottom:2px;
}
.result-service {
	clear:both;
	padding:10px;
	background-color:#E1ED97;
}
.result {
	overflow:hidden;
}
.toolbar-service {
	position:absolute;
	right:0px;
	background-color:#E1ED97;
	padding-bottom:10px;
}
.toolbar-service ul {
	padding:10px;
	margin:0px;
	padding-right:20px;
}
.toolbar-service li {
	display:inline;
}
.toolbar-service li a {
	margin-left:4px;
}
/* Corner radius */
.r-tl {
	-moz-border-radius-topleft: 6px;
	-webkit-border-top-left-radius: 6px;
	border-top-left-radius: 6px;
}
.r-tr {
	-moz-border-radius-topright: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-right-radius: 6px;
}
.r-bl {
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-bottom-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
.r-br {
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
.r-top {
	-moz-border-radius-topleft: 6px;
	-webkit-border-top-left-radius: 6px;
	border-top-left-radius: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-right-radius: 6px;
}
.r-top-s {
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
}
.r-bottom {
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-bottom-left-radius: 6px;
	border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
.r-right {
	-moz-border-radius-topright: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
.r-left {
	-moz-border-radius-topleft: 6px;
	-webkit-border-top-left-radius: 6px;
	border-top-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-bottom-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
.r-all {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
.r-all-s {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.r-all-b {
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}
.dropdown {
	position:absolute;
	right:0px;
	top:42px;
	background-color:#525252;
	padding:5px;
	z-index:600;
}
.dropdown ul {
	height:auto;
}
.dropdown li {
	display:block;
	float:none;
	line-height:24px;
}
.dropdown li a {
	font-weight:100;
	line-height:24px;
	width:93px;
	float:none;
	display:block;
}
.dropdown li .sprite-icons {
	margin-top:5px;
	margin-right:5px;
}
input[type="text"].input-data {
	float:left;
	width:92%;
}
.dialog-content .form li {
	padding-bottom:15px;
}
.dialog-content a.sprite-icons.refresh {
	margin-top:8px;
}
.short-fixed {
	max-width:1000px;
	margin-left:0px;
	margin-right:auto;
	position:relative;
	width:388px;
}
.short-fixed {
	height:auto;
	padding-bottom:10px;
}
.short-fixed h3 {
	float:left;
	margin-top:26px;
	color: #FFFFFF;
	font-size: 22px;
	padding-left:20px;
	font-weight:100;
}
.info-toolbar li {
	line-height: 22px;
	padding-bottom:1px;
	padding-top:1px;
}
.aRight, footer .aRight {
	float:right;
}
.one > li {
	width:98%;
	margin-left:1%;
	margin-right:0.5%;
	margin-top:8px;
	margin-bottom:8px;
}
.two > li {
 width:48%!;
	margin-left:1%;
	margin-right:0.5%;
	margin-top:8px;
	margin-bottom:8px;
}
.three > li {
	width:31%;
	margin-left:1%;
	margin-right:0.5%;
	margin-top:8px;
	margin-bottom:8px;
}
.adv-msg, .notify-page {
	background-color:#FFF;
	padding: 2px;
	border: 1px dotted #F1D32C;
}
.notyfy-popup .message, .notify-page .message {
	color:#333;
	padding:4px;
	font-size:12px;
}
.notyfy-popup {
	position:fixed;
	bottom:2%;
	left:2%;
	font-size:12px;
	width:300px;
	z-index:400;
}
.error-msg {
	background-color:#FFF;
	padding: 2px;
	border: 1px solid #FFA6A6;
	color:#F00;
}
.error-msg .message {
	color:#F00;
}
.info-msg {
	background-color:#F9FAFF;
	padding: 2px;
	border: 1px solid #B3C6FF;
	color:#3F43F8;
}
.info-msg .message {
	color:#3F43F8;
}
.notify-dd .profile-pic {
	width:40px;
	height:40px;
}
.notify-dd.dropdown {
	width:400px;
	font-family: 'PT Sans', sans-serif;
}
.notify-dd.dropdown li, .notify-dd.dropdown nav > ul {
	width:100%;
}
.notify-dd.dropdown li {
	background-color:#5B5B5B;
}
.notify-dd.dropdown .author {
	font-weight:600;
}
.notify-dd.dropdown p {
	margin:2px;
	padding:2px;
}
.notify-dd.dropdown a {
	width:auto;
	line-height:9px;
	padding-left:0px;
	padding-right:0px;
}
.notify-dd.dropdown h3 {
	width:auto;
	margin:0px;
	float:left;
	color:#FFF;
	font-size:15px;
	font-family: 'PT Sans', sans-serif;
}
.all-notify a {
	float:right;
	color:#FFF;
	font-size:13px;
	text-decoration:none;
}
.urlresource a {
	font-size:13px;
	color:#0099CC;
}
.sort, .icon, .check {
	width:20px;
}
input[type="checkbox"], .check input {
	vertical-align:middle;
	width:13px;
	height:13px;
}
.from {
	font-weight:600;
}
.subject {
}
.date-time {
}
.dataTable {
}
.notifications-list {
	font-size:13px;
}
.notifications-list h4 {
	width:96%;
	margin-left:auto;
	margin-right:auto;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #B5B5B5;
	margin-top:12px;
	margin-bottom:8px;
}
.notifications-list > ul {
	width:96%;
	margin-left:auto;
	margin-right:auto;
}
.notifications-list > ul li:first-child {
	margin-left:20px;
}
.notifications-list > ul li {
	display:inline-block;
	width:auto;
}
.notifications-list .list li:first-child, .notifications-list .list li {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color:#F0F0F0;
	width:98%;
	margin-left:0px;
	margin-right:1%;
}
.notifications-list .list li {
	position:relative;
}
.notifications-list .list .sprite-icons {
	margin-right: 10px;
}
.dataTable thead {
	background-color:#616469;
}
.dataTable th {
	text-align:left;
	color:#FFF;
}
.dataTable tr:nth-child(even) {
 background-color:#F5F5F5;
 border: 1px solid #EEE;
}
.dataTable {
	width:96%;
	margin-left:auto;
	margin-right:auto;
}
.dataTable tbody tr:hover {
	background-color:#FBF1BB;
}
.dataTable td, .dataTable th {
	padding:2px;
	font-size:13px;
}
.notifications-list .list a, .dataTable a {
	color:#0099CC;
}
td.action {
	display:none;
}
.notify-share {
	background-position:-176px -32px;
}
.notify-picture {
	background-position:-192px -32px;
}
.notify-data {
	background-position:-208px -32px;
}
.fLeft {
	float:left;
	clear:none;
}
.fRight {
	float:right;
}

/*HACKS*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
 .contact-box .sprite-icons {
 top:0px;
}
}
